                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/client.js"></script>
<!--        <script src="/javascripts/<%= currentPage %>.js"></script> --
    </body>
</html>
