body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.admin-warning {
  margin-bottom: 2rem;
}

.menu-side {

}

.content-side {

}

#info-container > textarea {
  width: 100%;
  min-height: 10rem;
}